// Override styles

div.campaignr-calendar {
  height: 100%;
  align-items: stretch;
  align-content: stretch;
  border-collapse: collapse;
  div.td, div.th {
    margin: 2px;
  }

  div.td:not(.empty) {
    background-color: rgb(225, 225, 225);
  }

  div.thead {
    border-bottom: 1px solid black;
  }
}

div.selector {
  padding: 10px;
}
